
.logout-btn{
    margin: 5px 5px 0px 20px;
}

.nav-main{
    position: absolute;
    top: 10%;
    left: 5px;
    /* transform: translate(-50%, -50%); */
    width: 250px;
    line-height: 30px;
    padding: 8px 25px;
    background-color: #789395;
    /* line-height: 40px; */
    border-radius: 5px;
    color: white;
}

nav label {
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: block;
    cursor: pointer;
}

.button span {
    float: right;
    line-height: 35px;
}

nav ul {
    position: absolute;
    background: #789395;
    list-style: none;
    top: 75px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    display: none;
}

[id^=btn]:checked + ul {
    display: block;
}

nav .menu::before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background: #1b1b1b;
    right: 20px;
    top: -10px;
    transform: rotate(45deg);
    z-index: -1;
}

nav ul li {
    line-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

nav ul li a:hover{
    color: cyan;
}

nav ul ul {
    position: static;
}

nav ul ul li {
    line-height: 30px;
    padding: 5px;
    border-bottom: none;
}

nav ul ul li a{
    color: #e6e6e6;
    font-size: 17px;
}

nav ul li span {
    font-size: 20px;
    float: right;
    margin-top: 10px;
    padding: 0 10px;
}

input {
    display: none;
}